<!-- Sidebar -->
<ul style="height: 100%;" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/inicio">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-hippo"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Zoológico </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Animales -->
  <li class="nav-item">
    <a class="nav-link" href="/animal">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Animales</span></a>
  </li>

  <!-- Nav Item - Areas -->
  <li class="nav-item">
    <a class="nav-link" href="/area">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Areas</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/espacio">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Espacio</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Areas -->
  <li class="nav-item">
    <a class="nav-link" href="" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Salir</span></a>
  </li>

  

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
